@page "/EliminarServicio"

<h3 class="titulo-form">Eliminar Servicios</h3>

<div class="form-container">
    <div class="form-group">
        <label>Servicios</label>
        <select class="input">
            <option>Tintura</option>
            <option>Alisado</option>
            <option>Depilacion Definitiva</option>
        </select>
    </div>

    <button type="submit" class="btn-guardar">Eliminar</button>
</div>
