h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 700;
    color: #333;
}

.acciones-container {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.accion-btn {
    width: 90%;
    margin-bottom: 20px;
}


/* BOTÓN PRINCIPAL (ROSA, GRANDE, REDONDEADO) */
.accion-btn {
    width: 100%;
    padding: 18px;
    background: #ff4fb8; /* Rosa como tu botón */
    border: none;
    border-radius: 14px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 10px;
}

    .accion-btn:hover {
        background: #ff2faa;
        transform: translateY(-2px);
    }

/* CARD DEL FORM (REDONDEADO + SOMBRA + ESTILO MODERNO) */
.card-form {
    display: none;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    margin-bottom: 10px;
}

    .card-form label {
        margin-bottom: 8px;
        font-weight: 600;
        color: #333;
        font-size: 16px;
    }

    .card-form input {
        padding: 10px 10px;
        font-size: 17px;
        border-radius: 18px !important;
        border: 1.5px solid #bfbfbf;
        background-color: #fafafa;
        transition: all 0.2s ease;
    }
        input:focus {
            border-color: #ff4fa3;
            outline: none;
        }
        input{
            border-color: #ff4fa3;
            outline: none;
        }
        .card-form select {
            padding: 10px 10px;
            font-size: 17px;
            border-radius: 18px !important;
            border: 1.5px solid #bfbfbf;
            background-color: #fafafa;
            transition: all 0.2s ease;
        }

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 18px;
}


/* BOTÓN GUARDAR INTERNO */
.guardar-btn {
    width: 100%;
    padding: 14px;
    background: #ff4fb8;
    color: white;
    font-weight: bold;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

    .guardar-btn:hover {
        background: #ff2faa;
    }