@page "/newprod"
@using GestionLaura.Clases
@using GestionLaura.Logica
@inject IJSRuntime js

<h3 class="titulo-form">Nuevo producto</h3>

<div class="form-container">
    <EditForm Model="@model" OnSubmit="@submit">

        <div class="form-group">
            <label for="Nombre">Nombre del Producto</label>
            <input type="text" id="Nombre" class="input" @bind="model.Productos" />
        </div>

        <div class="form-group">
            <label for="precio">Precio inicial</label>
            <input type="number" id="precio" class="input" @bind="model.StockProd.Precio" />
        </div>

        <div class="form-group">
            <label for="cantidad">Cantidad inicial</label>
            <input type="number" id="cantidad" class="input" @bind="model.StockProd.Cantidad" />
        </div>

        <div class="form-group">
            <label for="tipo">Tipo de actualización</label>
            <select id="tipo" class="input" @bind="model.Tipo">
                <option value="@Tipo.Fifo">Se lista por ingreso</option>
                <option value="@Tipo.Promedio">Se promedia</option>
            </select>
        </div>

        <button class="btn-guardar" type="submit">Guardar</button>

    </EditForm>
</div>

@code {
    public Producto model = new Producto();
    public Producto aux = new Producto();
    public LogProductos logica = new LogProductos();

    public async Task submit()
    {
        aux = model;
        if (model.Tipo == Tipo.Fifo)
        {
            model.AddFifo(model.StockProd);
            model.StockProd = new ProdStock();
        }
        await logica.GuardarProd(model);
        model = new Producto();
        await js.InvokeVoidAsync("guardar");
    }
}
