@page "/newprod"
@using GestionLaura.Clases
@using GestionLaura.Logica
<h3>Nuevo producto</h3>

<div class="container">
    <div class="align-self-auto">
        <EditForm Model="@model" OnSubmit="@submit">

            <div class="row">
                <label>Ingrese el nombre del Producto</label>
                <InputText id="Nombre" @bind-Value="model.Productos" />
            </div>
            <div class="row">
                <label>Ingrese el Precio inicial del Producto</label>
                <InputNumber id="precio" @bind-Value="model.StockProd.Precio" />
            </div>
            <div class="row">
                <label>Ingrese la cantidad inicial</label>
                <InputNumber id="cantidad" @bind-Value="model.StockProd.Cantidad" />
            </div>
            <div class="row">
                <label>Ingrese el tipo de actualizacion del producto</label>
                <div class="col">
                    <InputSelect id="tipo" @bind-Value="model.Tipo">
                        <option value="@Tipo.Fifo">Se lista por ingreso</option>
                        <option value="@Tipo.Promedio">Se promedia</option>
                    </InputSelect>
                </div>
            </div>
            <br>
            <div class="row" margin="2px">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </EditForm>
    </div>
</div>


@code {
    public Producto model = new Producto();
    public Producto aux = new Producto();
    public LogProductos logica = new LogProductos();
    public async Task submit()
    {
        aux = model;
        if (model.Tipo == Tipo.Fifo)
        {
            model.AddFifo(model.StockProd);
            model.StockProd = new ProdStock();
        }
        await logica.GuardarProd(model);
        model = new Producto();
        await Application.Current.MainPage.DisplayAlert("Atencion", "El producto se guardo", "OK");
    }
}
