@page "/weather"
@using GestionLaura.Clases;
@using GestionLaura.Logica
@inject NavigationManager nav
<div class="container-fluid">
    <table  class="align-items-center" style="border-color:black">
        <tr style="border:1px solid">
            <td style="margin:3px">Producto</td>
            <td style="margin:3px">Tipo de consumo</td>
            <td style="margin:3px">Cantidad</td>
            <td style="margin:3px">Precio</td>
        </tr>
        @foreach (var p in logica.Prod)
        {
            <tr style="margin:3px">
                    <td style="border:1px solid">@p.Productos</td>
                @if (p.Tipo==Tipo.Fifo)
                {
                    <td  style ="border:1px solid">Orden de ingreso</td>
                }
                @if (p.Tipo == Tipo.Promedio)
                {
                    <td style="border:1px solid">Promedio</td>
                }
                
                @if (p.Tipo.Equals(Tipo.Promedio))
                {
                    <td style="border:1px solid">@p.StockProd.Cantidad</td>
                    <td style="border:1px solid">@p.StockProd.Precio</td>
                }
                @if (p.Tipo.Equals(Tipo.Fifo))
                {
                    <td style="border:1px solid">
                        <ul style="list-style:none">
                            @foreach(var a in p.StocksFIfo)
                            {
                                <li> @a.Cantidad</li>
                            }
                        </ul>
                    </td>
                    <td style="border:1px solid">
                        <ul style="list-style:none">
                            @foreach (var a in p.StocksFIfo)
                            {
                               <li>$@a.Precio</li>
                            }
                        </ul>
                    </td>
                }
                <td style="border:1px solid"><button class="btn btn-primary" @onclick="(()=>Eliminar(p))">Eliminar</button></td>
                <td style="border:1px solid"><button class="btn btn-primary" @onclick="(()=>Sumar(p))">Actualizar</button></td>
            </tr>

        }
    </table>
    <button style="margin:10px" class="btn btn-primary" @onclick="Descargar">Descargar</button>
</div>

@code {
    public LogProductos logica = new LogProductos();
    protected override async Task OnInitializedAsync()
    {
        await logica.Cargar();
    }
    public void Sumar(Producto p){
        string d=p.Productos;
        nav.NavigateTo($"/addprod/{d}");
        
    }
    public async Task Eliminar(Producto p)
    {
        logica.Prod.Remove(p);
        await logica.Guardar();
    }
    public async Task Descargar(){
        await logica.DescargarProductos();
        
    }
}
